body{
    background-color: #1F2937;
}
#supporting-text{
    /* Supporting text */

    position: bottom;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;

    /* text-xl/leading-7/font-normal */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    /* Medium grey */
    color: #D5D4D8;


}
#heading {
    width: 354px;

    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;

    color: white;

    margin: 100px 0 10px 52px;
}
#btn-generate-password {
    margin-left: 52px;
    margin-top: 30px;

    width: 191px;
    height: 42px;

    background: #10B981;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 16px;
}
#heading span {
    color: #4ADF86;
}
#password-options{
    /* Rectangle 95 */

    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
}