body{
    background-color: #1F2937;
}
#supporting-text{
    display: flex;
    margin-left: 52px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #D5D4D8;


}
#heading {
    width: 354px;

    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;

    color: white;

    margin: 100px 0 10px 52px;
}
#btn-generate-passwords{
    display: block;
    margin-left: 52px;
    margin-top: 30px;

    width: 191px;
    height: 42px;

    background: #10B981;
    color: white;

    border: none;
    border-radius: 10x;
    font-size: 16px;
}
#heading span {
    color: #4ADF86;
}
#password-options{
    /* Rectangle 95 */

    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
}